
h1  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 2.0;
    text-align: center;
    color: 	white;
    background-color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: lightgray;
    line-height: 2.0;
    padding: 0 2%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
 
}

#logo {
    width: 1.75em;
    position: relative;
    left: .25em;
    top: .25em;
}

#portrait {
    float:left;
    max-width: 20%;
    padding-right: 20px;
}

#transition {
    text-align: center;
}

#linkedin {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #0072b1;
}

#linkedinlogo {
    width: 1em;
    height: 1em;
}

.button {
    background-color: rgb(230, 17, 17);
    color: black;
    border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.button1 {
    max-width: 5em;
    padding: .75em 1.5em;
    font-size: 1.15em;
}

.button2 {
    max-width: 3em;
    padding: .75em 1.5em;
    font-size: 1.15em;
}
